C:\Users\ACER\Documents\Trabajo\Maestria UdeA\Trabajo de grado\photonboxes_qsd\2bp_eigensystem\data\eigvecs_md_2bp_num_N12.npy
C:\Users\ACER\Documents\Trabajo\Maestria UdeA\Trabajo de grado\photonboxes_qsd\full_density_matrices\rhoA_N12_num.npy
C:\Users\ACER\Documents\Trabajo\Maestria UdeA\Trabajo de grado\photonboxes_qsd\full_density_matrices\rhoB_N12_num.npy
C:\Users\ACER\Documents\Trabajo\Maestria UdeA\Trabajo de grado\photonboxes_qsd\full_density_matrices\rhoC_N12_num.npy
